<% var pageType = pageType %>
<% var pageTitle = pageTitle %>

<!--Head-->
<% include ../partials/head %>
<!--Head Ends-->

<!--Header-->
<% include ../partials/header %>
<!--Header Ends-->

<div class="content-wrapper">
        <% if(typeof pageNotification != 'undefined'){ %>
    
            <% if(pageNotification.type == 'error') { %>
                <script>$(document).ready(function () {new PNotify({title: 'Failed',text: '<%=pageNotification.message%>',type: 'error'});});</script>
            <% } %>

            <% if (pageNotification.type == 'success') {%>
                <script>$(document).ready(function () {new PNotify({title: 'Success',text: '<%=pageNotification.message%>',type: 'success'});});</script>
                <!-- <script>alert("added");</script> -->
                <% } %> 
        <% }  %>

    <% if(pageType == 'add'){ %>
        <div class="card">
            <div class="card-body">
                <div class="card-title">Add Project</div>
                <div class="row">
                    <form method="post" action="" class="width-100">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Project Name:</label>
                                <input required type="text" name="project_name" placeholder="Enter project name.." class="form-control">
                                <% if(typeof errors != 'undefined' && typeof errors.name != 'undefined'){%>
                                    <span class="error"><%= errors.name %></span>
                                <%}%>
                            </div>
                            <div class="form-group">
                                    <label>Project Details:</label>
                                    <textarea required rows="5" name="project_details" placeholder="Enter project details.." class="form-control"></textarea>
                                    <% if(typeof errors != 'undefined' && typeof errors.detail != 'undefined'){%>
                                        <span class="error"><%= errors.detail %></span>
                                    <%}%>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                    </div>
            </div>
        </div>

        <%} else if(pageType == 'edit'){ %>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Edit Project</div>
                    <div class="row">
                        <form method="post" action="" class="width-100">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input value="<% if(typeof pageProject != 'undefined') {%><%=pageProject._id%><% } %>" type="text" name="project_id" class="hidden">
                                <div class="form-group">
                                    <label>Project Name:</label>
                                    <input required value="<% if(typeof pageProject != 'undefined') {%><%=pageProject.name%><% } %>" type="text" name="project_name" placeholder="Enter project name.." class="form-control">
                                    <% if(typeof errors != 'undefined' && typeof errors.name != 'undefined'){%>
                                        <span class="error"><%= errors.name %></span>
                                    <%}%>
                                </div>
                                <div class="form-group">
                                        <label>Project Details:</label>
                                        <textarea required rows="5" name="project_details" placeholder="Enter project details.." class="form-control"><% if(typeof pageProject != 'undefined') {%><%=pageProject.detail%><% } %></textarea>
                                        <% if(typeof errors != 'undefined' && typeof errors.detail != 'undefined'){%>
                                            <span class="error"><%= errors.detail %></span>
                                        <%}%>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                        </div>
                </div>
            </div>    
    <% }else{ %>
        <!-- <a href="/project/add" class="btn btn-primary btn-sm cus-mb-10"><i class="ti-plus"></i>&nbsp; New</a> -->
        <button type="button" class="btn btn-primary btn-sm cus-mb-10 addNewProject" data-toggle="modal" data-target="addModal"><i class="ti-plus"></i>&nbsp; New</button>
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Projects</h4>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                    <table id="project-table"  class="table table-condensed">
                    <thead>
                        <tr role="row">
                            <th>Project Name</th>
                            <th>Project Detail</th>
                            <th>Project Status</th>
                            <th>Created By</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(typeof records != 'undefined' && records.length>0){%>
                            <!-- <script>alert('record present');</script> -->
                            <% records.forEach(function(project){%>
                                <% var dt = new Date(project.createdAt); %>
                               <% var date = dt.getFullYear() + "/" + (dt.getMonth() + 1) + "/" + dt.getDate(); %>
                            <tr>
                                <td><a class="text-primary project-edit" data-id="<%=project._id%>"><%=project.name%></a></td>
                                <% if(project.detail.length > 80){%>
                                <td><%=project.detail.substring(0, 80)+"...";%></td>
                                <%} else {%>
                                    <td><%=project.detail%></td>
                                <% } %>
                                <td><%=project.status%></td>
                                <td><%=project.createdBy.ownerName%></td>
                                <td><%=date%></td>
                                <td>
                                    <!-- <a href="/project/edit/<%=project._id%>" class="btn btn-success btn-xs cus-btn-xs"><i class="ti-pencil-alt "></i></a> -->
                                    <button data-id="<%=project._id%>" class="btn btn-danger btn-xs cus-btn-xs project-delete"><i class="ti-trash"></i></button>
                                </td> 
                            </tr>
                            <%});%>
                        <%}%>
                    <!-- <tr>
                        <td>Project 1</td>
                        <td>This is details about project</td>
                        <td>
                            <a href="/project/edit" class="btn btn-success btn-xs cus-btn-xs"><i class="ti-pencil-alt "></i></a>
                            <button class="btn btn-danger btn-xs cus-btn-xs"><i class="ti-trash"></i></button>
                        </td>
                    </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% }%>
    
</div>
<form method="POST" id="Form-AddProject">
    <!-- Full Height Modal Right -->
    <div class="modal fade right" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Add New Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Name:</label>
                            <input required type="text" name="project_name" class="form-control" placeholder="Enter project name..">
                    </div>
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Status:</label>
                            <select required class="form-control" name="project_status">
                                <option value="">Select project status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <label class="font-weight-bold text-grey" >Description :</label>
                            <textarea required name="project_description" rows="5" class="form-control" placeholder="Enter project description.."></textarea>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        
    </div>
    </div>
    </div>
</form>
<form  id="Form-EditProject">
    <!-- Full Height Modal Right -->
    <div class="modal fade right" id="Modal-EditProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Edit Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Name:</label>
                            <input readonly type="text" name="project_id" class="form-control hidden" placeholder="Enter project name..">
                            <input readonly type="text" name="project_name" class="form-control" placeholder="Enter project name..">
                    </div>
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Status:</label>
                            <select required class="form-control" name="project_status">
                                <option value="">Select project status</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <label class="font-weight-bold text-grey" >Description :</label>
                            <textarea required name="project_description" rows="5" class="form-control" placeholder="Enter project description.."></textarea>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        
    </div>
    </div>
    </div>
</form>
<!-- Full Height Modal Right -->
<!--Footer-->
<% include ../partials/footer %>
<!--Footer Ends-->