<% var pageType = pageType %>
<% var pageTitle = pageTitle %>

<!--Head-->
<% include ../partials/head %>
<!--Head Ends-->

<!--Header-->
<% include ../partials/header %>
<!--Header Ends-->

<div class="content-wrapper">

        <% if(typeof pageNotification != 'undefined'){ %>
    
            <% if(pageNotification.type == 'error') { %>
                <script>$(document).ready(function () {new PNotify({title: 'Failed',text: '<%=pageNotification.message%>',type: 'error'});});</script>
            <% } %>

            <% if (pageNotification.type == 'success') {%>
                <script>$(document).ready(function () {new PNotify({title: 'Success',text: '<%=pageNotification.message%>',type: 'success'});});</script>
                <!-- <script>alert("added");</script> -->
                <% } %> 
        <% }  %>
        

        <!-- <a href="/task/add" class="btn btn-primary btn-sm cus-mb-10"><i class="ti-plus"></i>&nbsp; New</a> -->
        <button type="button" class="btn btn-primary btn-sm cus-mb-10 addNewTask" data-toggle="modal" data-target="addTaskModal"><i class="ti-plus"></i>&nbsp; New</button>
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Tasks</h4>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                    <table id="task-table" class="table table-condensed">
                    <thead>
                        <tr role="row">
                            <th>Sr</th>
                            <th >Project Name</th>
                            <th >Task Detail</th>
                            <th >Date</th>
                            <th >Hours</th>
                            <th >User</th>
                            <th >Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% var counter = 0; %>
                            <%if(typeof pageTasks != 'undefined' && pageTasks.length>0){%>
                                <!-- <script>alert('record present');</script> -->
                                <% pageTasks.forEach(function(task){%>
                                <tr>
                                    <td><%=counter%></td>
                                    <td><a class="text-primary task-edit" data-id="<%=task._id%>"><%=task.project.projectName%></a></td>
                                    <% var details = task.detail; %>
                                    <% if(details.length > 50){%>
                                        <td><%=details.substring(0, 50)+"...";%></td>
                                    <%}else{%>
                                        <td><%=details;%></td>
                                    <%}%>
                                    <td><%=task.date%></td>
                                    <td><%=task.time%></td>
                                    <td><%=task.createdBy.ownerName %></td>
                                    <td>
                                        <button data-id="<%=task._id%>" class="btn btn-danger btn-xs cus-btn-xs task-delete"><i class="ti-trash"></i></button>
                                    </td> 
                                </tr>
                                <% counter++; %>
                                <%});%>
                            <%}%>
                    <!-- <tr>
                        <td>Project 1</td>
                        <td>This is details about Task</td>
                        <td>May 5, 2019</td>
                        <td>2 Hours</td>
                        <td>Wasiq Naqi</td>
                        <td>
                            <a href="/project/edit" class="btn btn-success btn-xs cus-btn-xs"><i class="ti-pencil-alt "></i></a>
                            <button class="btn btn-danger btn-xs cus-btn-xs"><i class="ti-trash"></i></button>
                        </td>
                    </tr> -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
 
</div>
<form method="POST" id="Form-AddTask">
    <!-- Full Height Modal Right -->
    <div class="modal fade right" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Add New Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Project:</label>
                            <select required class="form-control" name="task_project">
                            </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold text-grey" >Description :</label>
                        <textarea required name="task_description" rows="5" class="form-control" placeholder="Enter project description.."></textarea>
                    </div>
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Date:</label>
                            <input required type="date" name="task_date" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Hours Taken:</label>
                        <select required class="form-control" name="task_time">
                                <option value="">Select Hours</option>
                            <%for(i=1;i<=20;i++){%>
                                    <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </select>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        
    </div>
    </div>
    </div>
</form>
<form method="POST" id="Form-EditTask">
    <!-- Full Height Modal Right -->
    <div class="modal fade right" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Edit Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Project:</label>
                            <input readonly type="text" name="task_id" class="form-control hidden">
                            <input required readonly type="text" name="task_project" class="form-control" placeholder="Project Name">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold text-grey" >Description :</label>
                        <textarea required name="task_description" rows="5" class="form-control" placeholder="Enter project description.."></textarea>
                    </div>
                    <div class="form-group">
                            <label class="font-weight-bold text-grey">Date:</label>
                            <input required type="date" name="task_date" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Hours Taken:</label>
                        <select required class="form-control" name="task_time">
                                <option value="">Select Hours</option>
                            <%for(i=1;i<=20;i++){%>
                                    <option value="<%=i%>"><%=i%></option>
                            <%}%>
                        </select>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        
    </div>
    </div>
    </div>
</form>
<!--Footer-->
<% include ../partials/footer %>
<!--Footer Ends-->